.main_prefs {
    padding-top: vw(41);
    max-width: vw(1050);
    width: 100%;
    margin-left: auto;
    margin-right: auto;
    padding-left: vw(20);
    padding-right: vw(20);
    &__blocks {
        margin-left: vw(-50);
        margin-right: vw(-50);
        display: flex;
        flex-wrap: wrap;
    }
    &__block {
        margin-left: vw(50);
        margin-right: vw(50);
        width: calc(50% - vw(100));
        margin-bottom: vw(110);
    }
    &__top {
        margin-bottom: vw(16);
        display: flex;
        align-items: center;
    }
    &__icon {
        border-radius: 50px 0px 0px 0px;
        background: var(--blue, #7FBAFF);
        width: vw(79);
        height: vw(73);
        flex: 0 0 vw(79);
        display: flex;
        align-items: center;
        justify-content: center;
        margin-right: vw(16);
        img {
            max-width: vw(53);
            max-height: vw(41);
        }
    }
    &__title {
        width: 100%;
        color: #0D0D0D;
        font-size: vw(24);
        font-style: normal;
        font-weight: 600;
        line-height: normal;
    }
    &__text {
        color: #000;
        font-size: vw(16);
        font-style: normal;
        font-weight: 600;
        line-height: normal;
    }
}