.block_steps {
    padding-top: vw(50);
    padding-bottom: vw(75);
    position: relative;
    @media all and (max-width: 1023px) {
        padding-top: 50px;
        padding-bottom: 30px;
    }
    &__item {
        border-radius: vw(8);
        overflow: hidden;
        display: flex;
        background: #FAFAFA;
        @media all and (max-width: 1023px) {
            border-radius: 8px;
            flex-direction: column;
            overflow: unset;
        }
    }
    &__l-side {
        width: vw(460);
        flex: 0 0 vw(460);
        background: #7FBAFF;
        padding: vw(46) vw(120) vw(46) vw(68);
        position: relative;
        @media all and (max-width: 1023px) {
            width: 100%;
            flex: none;
            padding: 30px 16px;
            border-radius: 8px;
        }
    }
    &__gift {
        position: absolute;
        right: vw(-45);
        top: vw(30);
        pointer-events: none;
        font-size: 0;
        width: vw(295);
        height: vw(197);
        pointer-events: none;
        img {
            width: 100%;
            height: 100%;
            object-fit: contain;
        }
        &--pc {
            @media all and (max-width: 1023px) {
                display: none;
            }
        }
        &--mob {
            display: none;
            @media all and (max-width: 1023px) {
                display: block;
            }
        }
        @media all and (max-width: 1023px) {
            width: 174px;
            height: 171px;
            top: -25px;
            right: -30px;
        }
    }
    &__title {
        margin-bottom: vw(24);
        color: #FFF;
        font-size: vw(32);
        font-style: normal;
        font-weight: 600;
        line-height: 130%;
        text-transform: uppercase;
        @media all and (max-width: 1023px) {
            padding-right: 84px;
            font-size: 20px;
            margin-bottom: 16px;
        }
    }
    &__text {
        color: #FFF;
        font-size: vw(16);
        font-style: normal;
        font-weight: 400;
        line-height: 130%;
        @media all and (max-width: 1023px) {
            font-size: 14px;
            padding-right: 84px;
        }
    }
    &__r-side {
        width: 100%;
        padding: vw(55) vw(50);
        > div {
            height: 100%;
        }
        @media all and (max-width: 1023px) {
            padding: 24px 17px 40px 17px;
        }
    }
    &__tit {
        color: #000;
        font-size: vw(24);
        font-style: normal;
        font-weight: 500;
        line-height: 145%;
        @media all and (max-width: 1023px) {
            font-size: 24px;
        }
    }
    form {
        height: 100%;
        @media all and (max-width: 1023px) {
            position: unset;
        }
    }
    &__items {
        position: relative;
        height: 100%;
        @media all and (max-width: 1023px) {
            position: unset;
        }
    }
    &__step {
        height: 100%;
        display: flex;
        flex-direction: column;
        justify-content: space-between;
        opacity: 1;
        visibility: visible;
        position: unset;
        &.isHidden {
            position: absolute;
            top: 0;
            opacity: 0;
            pointer-events: none;
        }
        &--top {
            padding-bottom: vw(35);
            display: flex;
            justify-content: space-between;
            align-items: center;
            @media all and (max-width: 1023px) {
                padding-bottom: 24px;
            }
        }
        &--tit {
            color: #000;
            font-size: vw(24);
            width: 100%;
            font-style: normal;
            font-weight: 500;
            line-height: 145%;
            @media all and (max-width: 1023px) {
                font-size: 24px;
            }
        }
        form {
            @media all and (max-width: 1023px) {
                position: unset;
            }
        }
        &--numbers {
            flex: 0 0 vw(65);
            margin-left: vw(10);
            color: #000;
            text-align: center;
            font-size: vw(24);
            font-style: normal;
            font-weight: 600;
            line-height: normal;
            letter-spacing: vw(2.4);
            text-transform: uppercase;
            span {
                color: #FFD130;
            }
            @media all and (max-width: 1023px) {
                font-size: 24px;
                flex: none;
                margin-left: 0;
                letter-spacing: 2.4px;
                position: absolute;
                top: 0;
                right: 16px;
            }
        }
        &--text {
            p {
                display: flex;
                flex-direction: column;
            }
            input {
                &[type="text"], &[type="tel"] {
                    border: 0;
                    background: none;
                    border-bottom: 1px solid #0D0D0D;
                    max-width: vw(350);
                    width: 100%;
                    padding: vw(10) 0;
                    color: #0D0D0D;
                    font-size: vw(14);
                    font-style: normal;
                    font-weight: 500;
                    line-height: 156%;
                    margin-bottom: 10px;
                    @media all and (max-width: 1023px) {
                        font-size: 14px;
                        max-width: 100%;
                        padding: 10px 0;
                    }
                }
                &[type="submit"] {
                    margin-top: vw(15);
                    max-width: vw(350);
                    width: 100%;
                    border: 0;
                    color: #181818;
                    text-align: center;
                    font-size: vw(14);
                    border-radius: 4px;
                    font-style: normal;
                    font-weight: 700;
                    line-height: normal;
                    letter-spacing: vw(0.42);
                    padding: vw(16);
                    &:hover {
                        color: #FFD130;
                    }
                    @media all and (max-width: 1023px) {
                        padding: 16px;
                        font-size: 14px;
                        margin-top: 15px;
                        max-width: 350px;
                        letter-spacing: 0.42px;
                    }
                }
            }
        }
        &--range {
            .range-values {
                > div {
                    margin-bottom: vw(16);
                    color: var(--black, #252525);
                    font-size: vw(16);
                    font-style: normal;
                    font-weight: 500;
                    line-height: normal;
                    @media all and (max-width: 1023px) {
                        margin-bottom: 16px;
                        font-size: 16px;
                    }
                }
                input {
                    &[type="number"] {
                        padding: 0;
                        margin-right: vw(17);
                        width: vw(100);
                        height: vw(30);
                        border: 1px solid #D9D9D9;
                        text-align: center;
                        color: var(--black, #252525);
                        font-size: vw(14);
                        font-style: normal;
                        font-weight: 500;
                        line-height: normal;
                        @media all and (max-width: 1023px) {
                            font-size: 14px;
                            height: 30px;
                            width: 100px;
                            margin-right: 17px;
                        }
                    }
                }
            }
            .slider-container {
                margin-top: vw(22);
                max-width: 538px;
                width: 100%;
                @media all and (max-width: 1023px) {
                    margin-top: 20px;
                }
                .noUi-horizontal { 
                    height: 4px;
                    .noUi-handle {
                        border: 0;
                        border-radius: 50%;
                        width: 16px;
                        height: 16px;
                        top: -6px;
                        cursor: pointer;
                        right: -6px;
                        border: 2px solid #FFD130;
                        box-shadow: none;
                        &:before, &:after {
                            display: none;
                        }
                    }
                }
                .noUi-connects {
                    background: #D9D9D9;
                }
                .noUi-connect {
                    background: #FFD130;
                }
                .noUi-target {
                    border: 0;
                    box-shadow: none;
                }
            }
        }
        &--bottom {
            display: flex;
            justify-content: space-between;
            align-items: center;
            margin-top: vw(20);
            @media all and (max-width: 1023px) {
                margin-top: 20px;
                flex-direction: column;
            }
            p {
                max-width: vw(407);
                width: 100%;
                display: block;
                @media all and (max-width: 1023px) {
                    max-width: 100%;
                }
            }
            input {
                border: 0;
                width: 100%;
                background: none;
                border-bottom: 1px solid #0D0D0D;
                padding: vw(10) 0;
                color: #0D0D0D;
                font-size: vw(14);
                font-style: normal;
                font-weight: 500;
                line-height: 156%;
                @media all and (max-width: 1023px) {
                    font-size: 14px;
                    padding: 10px 0;
                }
            }
        }
        &--buttons {
            display: flex;
            justify-content: space-between;
            align-items: center;
            flex: 0 0 vw(340);
            margin-left: auto;
            @media all and (max-width: 1023px) {
                flex: none;
                width: 100%;
                margin-top: 32px;
            }
        }
        &--step1 {
            .block_steps__step--buttons {
                justify-content: flex-end;
            }
        }
        &--button {
            width: calc(50% - vw(8));
            border: 0;
            color: #181818;
            text-align: center;
            font-size: vw(14);
            border-radius: 4px;
            font-style: normal;
            font-weight: 700;
            line-height: normal;
            letter-spacing: vw(0.42);
            text-decoration: none;
            padding: vw(16);
            @media all and (max-width: 1023px) {
                padding: 16px;
                white-space: nowrap;
                font-size: 14px;
                letter-spacing: 0.42px;
                width: calc(50% - 12px);
            }
            &.back-button {
                transition: all .3s ease;
                cursor: pointer;
                border: 1px solid #FFD130;
                background: #fff;
                &:hover {
                    background: #FFD130;
                }
            }
        }
    }
    .wpcf7-radio {
        display: flex;
        flex-wrap: wrap;
        margin-left: vw(-20);
        margin-right: vw(-20);
        @media all and (max-width: 1023px) {
            flex-direction: column;
            margin-left: 0;
            margin-right: 0;
        }
        .wpcf7-list-item {
            margin-left: vw(20);
            margin-right: vw(20);
            cursor: pointer;
            width: calc(50% - vw(40));
            margin-bottom: vw(20);
            @media all and (max-width: 1023px) {
                width: 100%;
                margin-left: 0;
                margin-right: 0;
                margin-bottom: 24px;
            }
        }
    }
    /* для элемента input c type="radio" */
    .wpcf7-list-item label {
        cursor: pointer;
        > input {
            position: absolute;
            z-index: -1;
            opacity: 0;
            &:checked {
                + span {
                    &:before {
                        border-color: #7FBAFF;
                        background-color: #7FBAFF;
                        background-image: url("data:image/svg+xml,%3csvg xmlns='http://www.w3.org/2000/svg' viewBox='-4 -4 8 8'%3e%3ccircle r='3' fill='%23fff'/%3e%3c/svg%3e");
                    }
                }
            }
        }
        > span {
            display: inline-flex;
            align-items: flex-start;
            color: #000;
            font-size: vw(20);
            font-style: normal;
            font-weight: 400;
            line-height: 145%;
            @media all and (max-width: 1023px) {
                font-size: 20px;
            }
            &:before {
                content: '';
                display: inline-block;
                width: vw(20);
                height: vw(20);
                flex: 0 0 vw(20);
                margin-right: vw(10);
                margin-top: vw(3);
                flex-shrink: 0;
                flex-grow: 0;
                border: 1px solid #7FBAFF;
                border-radius: 50%;
                background-repeat: no-repeat;
                background-position: center center;
                background-size: 50% 50%;
                @media all and (max-width: 1023px) {
                    width: 20px;
                    height: 20px;
                    flex: 0 0 20px;
                    margin-right: 10px;
                    margin-top: 3px;
                }
            }
        }
    }
    &__done {
        display: none;
    }
    &__in {
        &.isSent {
            .block_steps__r-side {
                > div:first-child {
                    display: none;
                }
            }
            @media all and (max-width: 1023px) {
                .main_form__title--mob {
                    display: none;
                }
                .main_form__title {
                    font-size: 24px;
                }
            }
            form {
                display: none;
            }
            .main_form__done {
                display: block;
            }
        }
    }
    [type=number]::-webkit-inner-spin-button, [type=number]::-webkit-outer-spin-button {
        display: none;
    }
}