body {
    box-sizing: border-box;
}
*,
::after,
::before {
    font-family: 'Gilroy', sans-serif, cursive;
    box-sizing: inherit;
    outline: none;
    scroll-behavior: smooth;
    transition: all .3s ease;
}
.map-block, .map-block * {
    transition: unset;
}
html,
body {
    margin: 0;
    padding: 0;
    background: #EDF7FF;
    height: 100%;
}
.ovh {
    overflow: hidden;
}
.wrapper {
    display: flex;
    flex-direction: column;
    position: relative;
    overflow: hidden;
}
.content {
    flex: 1 0 auto;
}
.footer {
    flex: 0 0 auto;
}
.center_block {
    max-width: vw(1360);
    width: 100%;
    margin-left: auto;
    margin-right: auto;
    padding-left: vw(17);
    padding-right: vw(17);
    @media all and (max-width: 1023px) {
        max-width: 100%;
        padding-left: 17px;
        padding-right: 17px;
    }
}
.center_block2 {
    max-width: vw(1484);
    width: 100%;
    margin-left: auto;
    margin-right: auto;
    padding-left: vw(17);
    padding-right: vw(17);
    @media all and (max-width: 1023px) {
        max-width: 100%;
        padding-left: 17px;
        padding-right: 17px;
    }
}
img {
    max-width: 100%;
    height: auto;
}

textarea {
    resize: none;
}
// scrollbar
/* width */
*::-webkit-scrollbar {
    width: 5px;
}
/* Track */
*::-webkit-scrollbar-track {
    background: #fff;
    border-radius: 10px 0px 0px 10px;
}
/* Handle */
*::-webkit-scrollbar-thumb {
    background: #0E0E0E;
    border-radius: 10px;
}
/* Handle on hover */
*::-webkit-scrollbar-thumb:hover {
    background: #0E0E0E;
}
// scrollbar end
.maximus_button {
    background: #FFD130;
    color: #0D0D0D;
    border: 0;
    cursor: pointer;
    &:hover {
        color: #FFD130;
        background: #0D0D0D;
    }
}
.translate_round {
    animation: translate_round 16s ease infinite;
}
@keyframes translate_round {
    0% {
        -webkit-transform: translateY(0);
        transform: translateY(0)
    }
    50% {
        -webkit-transform: translateY(vw(170));
        transform: translateY(vw(170))
    }
    100% {
        -webkit-transform: translateY(0);
        transform: translateY(0)
    }
}

.rotate_animation {
    animation: rotate_animation 14s ease infinite;
}
@keyframes rotate_animation {
    0% {
        -webkit-transform: rotate(20deg);
        transform: rotate(20deg)
    }
    50% {
        -webkit-transform: rotate(0);
        transform: rotate(0)
    }
    100% {
        -webkit-transform: rotate(20deg);
        transform: rotate(20deg)
    }
}
.branch_animation {
    animation: branch_animation 9s ease infinite;
}
@keyframes branch_animation {
    0% {
        transform: rotateX(0) translateY(100px);
    }
    30% {
        transform: rotateX(30deg) translateY(100px);
    }
    48% {
        transform: rotateX(-30deg) translateY(100px);
    }
    64% {
        transform: rotateX(6deg) translateY(100px);
    }
    85% {
        transform: rotateX(-10deg) translateY(100px);
    }
    100% {
        transform: rotateX(0) translateY(100px);
    }
}

.wpcf7-response-output {
    position: absolute;
    font-family: "Open Sans", sans-serif;
    font-style: normal;
    font-weight: 300;
    line-height: normal;
    font-size: vw(14);
    border: 0 !important;
    padding: 0 !important;
    margin: 0 !important;
    color: red;
    width: calc(100% - vw(200)) !important;
    @media all and (max-width: 1023px) {
        width: 100% !important;
        font-size: 12px;
        bottom: 50px;
    }
}
form {
    position: relative;
}
.main_form {
    .wpcf7-response-output {
        bottom: -20px;
    }
}
.modal__form--form {
    .wpcf7-response-output {
        width: 100% !important;
    }
}