.main_numbers {
    position: relative;
    &__around, &__tree, &__round, &__round2, &__tree2 {
        position: absolute;
        font-size: 0;
        pointer-events: none;
        img {
            width: 100%;
            height: 100%;
            object-fit: contain;
        }
    }
    &__around {
        width: vw(281);
        height: vw(247);
    }
    &__tree {
        width: vw(491);
        height: vw(487);
    }
    &__round {
        width: vw(143);
        height: vw(146);
    }
    &__round2 {
        width: vw(88);
        height: vw(88);
    }
    &__tree2 {
        width: vw(313);
        height: vw(415);
        right: 0;
        bottom: 0;
        z-index: 1;
    }
    &__ins {
        position: relative;
        overflow: hidden;
        margin: vw(50) vw(70);
        background: #7FBAFF;
        border-radius: vw(50);
        &:before {
            content: '';
            position: absolute;
            right: 0;
            height: 4px;
            width: 100%;
            top: vw(177);
            background: url("data:image/svg+xml,%3Csvg xmlns='http://www.w3.org/2000/svg' width='1443' height='4' viewBox='0 0 1443 4' fill='none'%3E%3Cpath d='M0 2L1443 2.00013' stroke='%23FFD130' stroke-width='3' stroke-dasharray='10 10'/%3E%3C/svg%3E") 100% 0 no-repeat;
            z-index: 0;
        }
        &:after {
            content: '';
            position: absolute;
            right: 0;
            height: 4px;
            width: 100%;
            bottom: vw(262);
            background: url("data:image/svg+xml,%3Csvg xmlns='http://www.w3.org/2000/svg' width='1443' height='4' viewBox='0 0 1443 4' fill='none'%3E%3Cpath d='M0 2L1443 2.00013' stroke='%23FFD130' stroke-width='3' stroke-dasharray='10 10'/%3E%3C/svg%3E") 100% 0 no-repeat;
            z-index: 0;
        }
    }
    &__in {
        overflow: hidden;
        padding-top: vw(126);
        padding-bottom: vw(0);
    }
    &__blocks {
        display: flex;
        flex-wrap: wrap;
        margin-left: vw(-20);
        margin-right: vw(-20);
    }
    &__block {
        margin-left: vw(20);
        margin-right: vw(20);
        width: calc(50% - vw(40));
        margin-bottom: vw(125);
        display: flex;
        position: relative;
        z-index: 2;
        align-items: flex-start;
    }
    &__l-side {
        width: vw(80);
        height: vw(80);
        border-radius: 50%;
        display: flex;
        align-items: center;
        justify-content: center;
        border: 7px solid #FFD130;
        color: #FFD130;
        background: #7FBAFF;
        font-size: vw(24);
        font-style: normal;
        font-weight: 700;
        line-height: 100%;
        flex: 0 0 vw(80);
        margin-right: vw(20);
    }
    &__title {
        margin-bottom: vw(24);
        color: var(--Color_fonts_def_black, #0D0D0D);
        font-size: vw(32);
        font-style: normal;
        font-weight: 600;
        line-height: 130%;
        text-transform: uppercase;
    }
    &__text {
        color: var(--Color_fonts_def_black, #0D0D0D);
        font-size: vw(24);
        font-style: normal;
        font-weight: 500;
        line-height: 130%;
    }
}