.main_quality {
    background: #7FBAFF;
    padding-top: vw(125);
    padding-bottom: vw(158);
    position: relative;
    overflow: hidden;
    @media all and (max-width: 1023px) {
        padding-top: 54px;
        padding-bottom: 42px;
        overflow: unset;
    }
    &__leaf-mob {
        display: none;
        pointer-events: none;
        background: url('../img/leaf4.png') 50% / 100% no-repeat;
        @media all and (max-width: 1023px) {
            display: block;
            position: absolute;
            font-size: 0;
            right: 0;
            top: 0px;
            width: 183px;
            height: 192px;
        }
        img {
            width: 100%;
            height: 100%;
            object-fit: contain;
        }
    }
    &__line-mob {
        display: none;
        pointer-events: none;
        background: url('../img/line2.svg') 50% / 100% no-repeat;
        @media all and (max-width: 1023px) {
            display: block;
            position: absolute;
            font-size: 0;
            left: 5px;
            bottom: -110px;
            width: 98px;
            height: 192px;
        }
        @media all and (max-width: 380px) {
            left: -10px;
            bottom: -160px;
        }
        img {
            width: 100%;
            height: 100%;
            object-fit: contain;
        }
    }
    &__star {
        position: absolute;
        font-size: 0;
        width: vw(116);
        height: vw(113);
        top: vw(76);
        left: vw(397);
        pointer-events: none;
        background: url('../img/star.svg') 50% / 100% no-repeat;
        img {
            width: 100%;
            height: 100%;
            object-fit: contain;
        }
        @media all and (max-width: 1023px) {
            display: none;
        }
    }
    &__line {
        position: absolute;
        font-size: 0;
        width: vw(843);
        pointer-events: none;
        height: vw(632);
        top: vw(130);
        left: vw(558);
        background: url('../img/line.svg') 50% / 100% no-repeat;
        img {
            width: 100%;
            height: 100%;
            object-fit: contain;
        }
        @media all and (max-width: 1023px) {
            display: none;
        }
    }
    &__round {
        position: absolute;
        font-size: 0;
        pointer-events: none;
        width: vw(159);
        height: vw(151);
        top: vw(97);
        left: vw(34);
        background: url('../img/round.svg') 50% / 100% no-repeat;
        img {
            width: 100%;
            height: 100%;
            object-fit: contain;
        }
        @media all and (max-width: 1023px) {
            width: 75px;
            height: 79px;
            bottom: 19px;
            right: 2px;
            left: unset;
            top: unset;
        }
    }
    &__tree {
        position: absolute;
        font-size: 0;
        width: vw(317);
        height: vw(526);
        pointer-events: none;
        bottom: vw(14);
        left: 0;
        background: url('../img/tree.png') 50% / 100% no-repeat;
        img {
            width: 100%;
            height: 100%;
            object-fit: contain;
        }
        @media all and (max-width: 1023px) {
            display: none;
        }
    }
    &__square {
        position: absolute;
        bottom: vw(124);
        right: 0px;
        pointer-events: none;
        width: vw(184);
        height: vw(210);
        font-size: 0;
        background: url('../img/square.svg') 50% / 100% no-repeat;
        img {
            width: 100%;
            height: 100%;
            object-fit: contain;
        }
        @media all and (max-width: 1023px) {
            display: none;
        }
    }
    &__leaf {
        position: absolute;
        width: vw(464);
        height: vw(346);
        top: vw(-266);
        right: vw(-106);
        font-size: 0;
        pointer-events: none;
        background: url('../img/leaf3.png') 50% / 100% no-repeat;
        img {
            width: 100%;
            height: 100%;
            object-fit: contain;
        }
        @media all and (max-width: 1023px) {
            display: none;
        }
    }
    &__in {
        display: flex;
        justify-content: space-between;
        align-items: flex-start;
        @media all and (max-width: 1023px) {
            flex-direction: column-reverse;
        }
    }
    &__l-side {
        width: vw(509);
        @media all and (max-width: 1023px) {
            width: 100%;
        }
    }
    &__title {
        margin-bottom: vw(56);
        color: var(--color_background_def_gray, #F5F5F5);
        font-size: vw(81);
        font-style: normal;
        font-weight: 1000;
        line-height: 110%;
        text-transform: uppercase;
        &--pc {
            @media all and (max-width: 1023px) {
                display: none;
            }
        }
        &--mob {
            display: none;
            @media all and (max-width: 1023px) {
                display: block;
            }
        }
        @media all and (max-width: 1023px) {
            font-size: 43px;
            margin-bottom: 35px;
        }
    }
    &__subtitle {
        max-width: vw(360);
        width: 100%;
        margin-bottom: vw(20);
        color: var(--color_background_def_gray, #F5F5F5);
        font-size: vw(32);
        font-style: normal;
        font-weight: 700;
        line-height: 100%;
        @media all and (max-width: 1023px) {
            font-size: 36px;
            margin-bottom: 21px;
            max-width: 360px;
        }
    }
    &__text {
        max-width: vw(510);
        width: 100%;
        color: var(--color_background_def_gray, #F5F5F5);
        font-size: vw(20);
        font-style: normal;
        font-weight: 500;
        line-height: 130%;
        @media all and (max-width: 1023px) {
            font-size: 20px;
            max-width: 510px;
        }
    }
    &__r-side {
        width: vw(727);
        position: relative;
        padding-top: vw(15);
        @media all and (max-width: 1023px) {
            width: 100%;
            padding-top: 0;
            max-width: 500px;
            margin-bottom: 250px;
        }
    }
    &__img {
        border-radius: vw(16);
        font-size: 0;
        max-width: vw(647);
        height: vw(461);
        width: 100%;
        overflow: hidden;
        border: vw(4) solid #FFD130;
        @media all and (max-width: 1023px) {
            border-radius: 16px;
            border: 4px solid #FFD130;
            max-width: 500px;
            height: auto;
        }
        img {
            width: 100%;
            height: 100%;
            object-fit: cover;
        }
    }
    &__link {
        width: vw(314);
        height: vw(314);
        position: absolute;
        right: vw(-14);
        bottom: vw(-162);
        cursor: pointer;
        @media all and (max-width: 1023px) {
            width: 250px;
            height: 250px;
            right: 0;
            bottom: -205px;
        }
        svg {
            width: 100%;
            height: 100%;
            object-fit: contain;
            * {
                pointer-events: none;
            }
            g {
                transition: unset;
                * {
                    transition: unset;
                }
            }
            &:hover {
                > circle {
                    &:nth-child(2) {
                        fill: #0D0D0D;
                    }
                }
                > path {
                    &:nth-child(3) {
                        stroke: #FFD130;
                    }
                }
            }
        }
    }
}